---
title: Responsive Email Process
---


<section id="discovery">
    <h2>Discovery</h2>
    <ul>
    	<li class="step">
    		<img src="http://placehold.it/612x338/ffffff" alt="">
    		<div>
    			<h3>Project Analysis</h3>
        		<p>Determine project requirements for content, design, technical, and organizational perspective</p>
    		</div>
    	</li>
    	<li class="step">
    		<img src="http://placehold.it/612x338/ffffff" alt="">
    		<div>
				<h3>Goal Setting</h3>
		    	<p>Determine goals for success and analytics to be tested and measured</p>
    		</div>
    	</li>
    </ul>
</section>

<section id="contentStrategy">
    <h2>Content Strategy</h2>
    <ul>
    	<li class="step">
    		<img src="http://placehold.it/612x338/ffffff" alt="">
    		<div>
    			<h3>Content Inventory</h3>
    			<p>List all of the content with quantitative information. published date, type of content, etc.</p>
    		</div>
    	</li>
    	<li class="step">
    		<img src="http://placehold.it/612x338/ffffff" alt="">
    		<div>
    			<h3>Content Audit</h3>
    			<p>Analyze current content & sends. Determine what's working, what's not, and if anything content types need to be rewritten, redesigned, added, or removed. Qualitative analysis.</p>
    		</div>
    	</li>
    	<li class="step">
    		<img src="images/content_priority.png" alt="">
    		<div>
    			<h3>Content Packaging & Priority</h3>
    			<p>Create content packages and priority guides are created to align content with marketing goals and create a sustainable format for future emails.</p>
    		</div>
    	</li>
    </ul>
</section>

<section id="design">
	<h2>Design</h2>
	<ul>
    	<li class="step">
    		<img src="http://placehold.it/612x338/ffffff" alt="">
    		<div>
    			<h3>User Experience Design</h3>
    			<p>High level content packages & priority guides and low-fi graphics are used to determine how content will reflow across screen sizes.</p>
    		</div>
    	</li>
		<li class="step">
    		<img src="http://placehold.it/612x338/ffffff" alt="">
    		<div>
    			<h3>Visual Design</h3>
    			<p>Visual comps are created that align with the Content Strategy and Responsive Wireframes as well as Brand Guidelines </p>
    		</div>
    	</li>
    </ul>
</section>

<section id="development">
	<h2>Development</h2>
	<ul>
    	<li class="step">
    		<img src="http://placehold.it/612x338/ffffff" alt="">
    		<div>
    			<h3>HTML & CSS Build</h3>
    			<p>
    				Responsive Wireframes and Visual comps are used to create a Template build as well as any necessary Content Packages
    			</p>
    		</div>
    	</li>
		<li class="step">
    		<img src="http://placehold.it/612x338/ffffff" alt="">
    		<div>
    			<h3>Engineering</h3>
    			<p>Any necessary back-end integration is tied to the template implementation</p>
    		</div>
    	</li>
    </ul>
</section>

<section id="execution">
	<h2>Execution</h2>
	<ul>
    	<li class="step">
    		<img src="http://placehold.it/612x338/ffffff" alt="">
    		<div>
    			<h3>Training</h3>
    			<p>Any necessary training</p>
    		</div>
    	</li>
		<li class="step">
    		<img src="http://placehold.it/612x338/ffffff" alt="">
    		<div>
    			<h3>Implementation</h3>
    			<p>Daily Sends</p>
    		</div>
    	</li>
    	<li class="step">
    		<img src="http://placehold.it/612x338/ffffff" alt="">
    		<div>
    			<h3>Analytics</h3>
    			<p>Measurement of analytics and determination of success</p>
    		</div>
    	</li>
    </ul>
</section>